.book-header #font-settings-wrapper #enlarge-font-size,
.book-header #font-settings-wrapper #reduce-font-size {
  line-height: 30px;
}
.book-header #font-settings-wrapper #enlarge-font-size {
  font-size: 1.4em;
}
.book-header #font-settings-wrapper #reduce-font-size {
  font-size: 1em;
}
