section.detail-wrapper{
  padding: 40px 0;
  .detail-main{
    margin-left: 20px;
    margin-top: 30px;
  }
  h2{
    margin-left: -10px;
  }
  .desc{
    margin: 20px 0;
  }
  .author-wrapper{
    height: 74px;
    width: 424px;
    a{
      color: #777;
    }
    img{
      margin-top: -20px;
      margin-right: 20px;
    }
    .email{
      color: #999;
    }
  }
  .details-meta{
    margin-left: 5px;
  }
  .btn-wrapper{
    margin-bottom: 20px;
    .read-btn{
      width: 140px;
      padding: 10px 0;
      margin-right: 20px;
    }
    .set-btn{
      width: 80px;
      font-size: 20px;
    }
  }
}