section.detail-wrapper{
  padding: 40px;
  .detail-main{
    margin-left: 30px;
    margin-top: -10px;
    position: relative;
    height: 260px;
  }
  h2{
    margin-left: -10px;
  }
  .desc{
    margin: 20px 0;
  }
  .details-meta{
    margin-left: 5px;
    margin-top: 40px;
    dd{
      margin-top: 10px;
    }
  }
  .btn-wrapper{
    position: absolute;
    bottom: 0;
    left:0;
    .read-btn{
      width: 140px;
      padding: 10px 0;
      margin-right: 20px;
    }
    .set-btn{
      width: 80px;
      font-size: 20px;
    }
  }
}
.cover{
  background: url("//a.apebook.org/avatar/default-avatar.png") center 120px no-repeat #fff;
}
.cover-wrapper{
  position: relative;
  h4{
    position: absolute;
    top: 70px;
    left:15px;
    width: 100%;
    text-align: center;
  }
}
.github-btn{
  position: absolute;
  border: none;
  top: 0;
  right: 0;
}

.avatar-wrapper{
  width: 6%;
}
.lang-wrapper{
  width: 11%;
}
.updateTime-wrapper{
  width: 13%;
}

.content-title{
  border-bottom: 1px dashed #ccc;
  padding-bottom: 20px;
  margin-bottom: 40px;
}


.authors-wrapper{
  width: 200px;
  float: left;
}
.reademe-wrapper{
  .col-md-10{
    width: 860px;
    padding-left: 40px;
  }
}

.author-wrapper{
  background: #f7f6f2;
  padding: 10px;
  margin-bottom: 10px;
  .author-mod{
    border-top: 1px solid #e5e5e5;
  }
  .author-info{
    text-align: center;
    padding-bottom: 10px;
    h3{
      text-align: left;
    }
    .avatar{
      border-radius: 100px;
    }
    p{
      color: #262626;
      font-size: 16px;
    }
    .copyright{
      font-size: 12px;
      color: red;
    }
  }
  h3{
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 15px;
    a{
      position: absolute;
      right: 0;
      top: 5px;
      font-size: 12px;
    }
  }
  .user-book{
    text-align: center;
    .cover{
      width: 100px;
      height: 135px;
    }
    p{
      color: #262626;
      font-size: 12px;
    }
  }
}