section.detail-wrapper {
  padding: 40px 0;
}
section.detail-wrapper .detail-main {
  margin-left: 20px;
  margin-top: 30px;
  position: relative;
}
section.detail-wrapper h2 {
  margin-left: -10px;
}
section.detail-wrapper .desc {
  margin: 20px 0;
}
section.detail-wrapper .details-meta {
  margin-left: 5px;
}
section.detail-wrapper .details-meta dd {
  margin-top: 10px;
}
section.detail-wrapper .btn-wrapper {
  margin-bottom: 20px;
}
section.detail-wrapper .btn-wrapper .read-btn {
  width: 140px;
  padding: 10px 0;
  margin-right: 20px;
}
section.detail-wrapper .btn-wrapper .set-btn {
  width: 80px;
  font-size: 20px;
}
.cover {
  background: url("//a.apebook.org/avatar/default-avatar.png") center 120px no-repeat #ffffff;
}
.cover-wrapper {
  position: relative;
}
.cover-wrapper h4 {
  position: absolute;
  top: 70px;
  left: 15px;
  width: 100%;
  text-align: center;
}
.github-btn {
  position: absolute;
  border: none;
  top: 0;
  right: 0;
}
