.books-wrapper{
  position: relative;
  margin-top: 40px !important;
  .see-all{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 200px;
    a{
      color: #999;
    }
    i{
      color: #999;
      font-size: 1.0em;
    }
  }
}

.books-item{
  margin: 15px 0;
  min-height: 200px;
}
.book-cover{
  position: relative;
  width: 130px;
  float: left;
  min-height: 200px;
  border: 1px solid #d4d4d4;
  border-radius: 0;
  background: #F4F4F4;
  box-shadow: 0 0 8px 1px rgba(0,0,0,.15);
  img{
    display: block;
    width: 130px;
    height: 200px;
    border: 5px solid #fff;
  }
}
.book-infos{
  padding: 8px 20px;
  margin-left: 140px;
  text-overflow: ellipsis;
  h4{
    margin-top: 0;
    margin-left: -12px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .info-meta{
    color: #999;
    i{
      margin-right: 5px;
      font-size: 1.2em;
    }
  }
  .btn{
    width: 80px;
    margin-bottom: 20px;
  }
}