.book-wrapper{
  height: 320px;
}
@import "./base.less";
@import "button.less";
@import "image-area.less";

.cover-code{
  margin: 15px;
  padding: 10px;
  background: #3f3f3f;
  color: #fff;
}
.cover-add-tip{
  margin-left: 15px;
  margin-top: 10px;
}