.dash-header {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}
.dash-header label {
  width: 110px;
  text-align: right;
}
.dash-header h3 {
  margin-bottom: 20px;
}
.dash-header .button-wrapper {
  width: 260px;
  margin: 30px 0;
  position: absolute;
  right: 0;
  top: 0;
}
.dash-header .button-wrapper .btn {
  width: auto;
  margin-right: 20px;
}
.dash-header .status-wrapper {
  margin-bottom: 10px;
}
