.history-list{
  font-size: 12px;
  margin: 0 20px;
  p{
    margin-bottom: 0;
  }
  .event{
    border-bottom: 1px solid #edeff0;
    padding: 10px 0;
  }
  .event-icon-wrapper{
    width: 70px;
    i{
      font-size: 30px;
      color: #ccc;
    }
  }
  .event-time{
    color: #ccc;
    margin-bottom: 10px;
  }
}
.history-more{
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  margin: 10px auto;
  padding: 5px 0;
  display: none;
  &:hover{
    background-color: #ccc;
    text-decoration: none;
  }
}
.error-msg{
  color: red;
}