.book-wrapper {
  width: 200px;
  height: 270px;
  margin-right: 20px;
}
.grid {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
.grid .g-u {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* IE < 8: fake inline-block */
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  _vertical-align: text-bottom;
}
.grid .g-u input {
  *vertical-align: middle;
}
.file-input-wrapper {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
}
.file-input-wrapper input {
  display: block;
  height: 500px;
  width: 220px;
  cursor: pointer;
  font-size: 100px;
  margin-top: -50px;
  position: absolute;
  left: 0;
  top: -200px;
  opacity: 0;
  filter: alpha(opacity = 0);
  z-index: 14;
}
.ks-progress-bar {
  height: 8px;
  width: 90px;
  background: #b2b2b2;
  border-radius: 5px;
  display: block;
  overflow: hidden;
}
.ks-progress-bar .ks-progress-bar-value {
  width: 0%;
  height: 8px;
  background: #db0869;
  display: block;
}
.ks-uploader-button {
  text-decoration: none;
}
.ks-uploader-queue .preview-img {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
  width: 300px;
  overflow: hidden;
}
.singleImageUploader-button {
  background-color: #5bc0de;
  border-color: #46b8da;
  width: 100%;
  text-align: center;
  color: #fff;
  display: block;
  margin-top: 10px;
  line-height: 32px;
  position: relative;
}
.singleImageUploader-button:hover {
  text-decoration: none;
  background-color: #46b8da;
  border-color: #5bc0de;
  color: #fff;
}
.uploader-suggest {
  color: #999;
  margin-top: 10px;
}
.singleImageUploader-queue {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("//cover.apebook.org/suggest.png") 0 0 no-repeat;
  position: relative;
}
.singleImageUploader-queue .uploader-img img {
  width: 100%;
  height: 270px;
}
.singleImageUploader-queue .ks-progress-bar {
  height: 8px;
  width: 100px;
  margin: 0 auto;
}
.singleImageUploader-queue .ks-progress-bar .ks-progress-bar-value {
  background: #75B9F0;
}
.singleImageUploader-queue .ks-progress-bar .status-wrapper .status {
  text-align: center;
}
.singleImageUploader-queue .status-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -6px;
  z-index: 30;
}
.singleImageUploader-queue .status-wrapper .status {
  margin-left: 2px;
  width: 156px;
}
.singleImageUploader-queue .status-wrapper .waiting-status {
  color: #404040;
}
.singleImageUploader-queue .status-wrapper .error-status {
  color: red;
}
.singleImageUploader-queue .status-wrapper p {
  margin: 0;
  padding-left: 10px;
}
.dash-header {
  border-bottom: 1px solid #ccc ;
  margin-bottom: 20px;
  position: relative;
}
.dash-header h3 {
  margin-bottom: 20px;
}
.dash-header .button-wrapper {
  width: 260px;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.dash-header .button-wrapper .btn {
  width: auto;
}
.dash-header .status-wrapper {
  margin-bottom: 10px;
}
.tiles {
  margin-right: -1px;
}
.tiles .tile {
  background: #f5f5f5;
  text-align: center;
  padding: 25px;
  width: 100%;
  margin-left: 15px;
  border-radius: 2px;
  border: 1px solid #d4d4d4;
  color: #333;
  display: block;
  min-height: 186px;
  margin-bottom: 20px;
}
.tiles .tile .big {
  font-size: 56px;
  margin-bottom: 12px;
  display: block;
}
.tiles .tile:hover {
  text-decoration: none;
  border-color: #46b8da;
}
.dash-main form {
  display: block;
  width: 50%;
}
