@import "./books/books";
@import "./nav/nav";
@import "./user/user";

.lib-header{
  min-height: 260px;
  background: url(//a.apebook.org/cover/4.jpg) 0 -280px no-repeat;
  background-size:cover;
  position: relative;
}
